ul{
    list-style : none;
    
}
li{
    position: relative;
    display: inline;
}
.nav-link {

    display: inline-block;
    width: 20%;
    text-decoration: none;
    color: #a9bccc;
    padding-bottom: 1%;
}
.titleNavigation {
    background-color: black;
    color:#667d91;
    font-weight: bolder;
    font-family: unset;
    padding-bottom: 1%;
}

.nav1{
    background-color: black;
}